<div id="nav"  class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="">
        <img src="../../assets/artsoftheuniversebrand.jpg" alt="Arts of the universe logo">
      </a>
    </div>
    <div class="collapse navbar-collapse nav">
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
        <li><a href="/paintings">MY PAINTINGS</a></li>
        <li><a href="/about">ABOUT ME</a></li>
      </ul>
      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a>Welcome John</a>
          </li>
        </ul>
      </div>
      <form id="searchForm"  class="navbar-form navbar-right"  >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Sessions" >
        </div>
        <button class="btn btn-default" >
          Search
        </button>
      </form>
    </div>
  </div>
</div>